.accordion.light-mode {
  --bs-accordion-active-bg: #fff;
  --bs-accordion-btn-focus-box-shadow: #fff; ;
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e");
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e");
}
.accordion.dark-mode {
  --bs-accordion-active-bg: #2b2f33;
  --bs-accordion-btn-focus-box-shadow: #2b2f33; ;
  --bs-accordion-btn-color: #ffffff;
  --bs-accordion-active-color:#ffffff;
  --bs-accordion-bg:: #2b2f33;
  --bs-accordion-color:: #ffffff;
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e");
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e");
}
.navbar {
  height: 70px; 
}
.nav-item {
  margin: 0 10px; /* Space between items */
}
.nav-link {
  line-height: 60px;
  padding: 0 15px;
}
.bg-color-light {
  background-image: url('./images/nav2.png');
}
.bg-color-dark{
  background-image: url('./images/nav.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}